/* 
============
 DESKTOP
============
*/
.infoContainer {
  text-align: center;
  margin-top: 20%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 20px;
}

/* 
=============
 Mobile View
=============
*/
@media (min-width: 360px) and (max-width: 600px) {
  .infoContainer {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/* 
=============
 Tablet View
=============
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .infoContainer {
    margin-top: 40%;
  }
}
