/* Desktop */
#animalPageTitle {
  text-align: center;
  margin-top: 5%;
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

/* Mobile */
@media (min-width: 360px) and (max-width: 600px) {
  #animalPageTitle {
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
    font-family: "Source Sans Pro", sans-serif;
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  #animalPageTitle {
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  }
}
